/*carrossel*/

.carrossel{
  position: relative;
  width: 100%; /* Ocupa a largura disponível */
  max-width: 80%  ; /* Limite para PC */
  margin: auto;
  overflow: hidden; /* Esconde o que está fora da moldura */
  border-radius: 10px;

}

.imagens-carrossel {
  display: flex; /* Coloca as imagens lado a lado */
  transition: transform 0.5s ease-in-out; /* Suaviza o deslize */
  width: 100%;
}

.imagem-carrossel{
  min-width: 100%; /* Cada imagem ocupa 100% da moldura */
  object-fit: cover;
  height: 400px; /* Altura fixa ou use aspect-ratio */
}

/* Botões */
#botao-ir, #botao-voltar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
}

#botao-ir { left: 10px; }
#botao-voltar{ right: 10px; }

/*fim carrossel*/

/*header*/

header {
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
 background: #fff;
 position:  static;
 width: 100%;
 top: 0;
}

header, nav ul {
 display: flex;
 justify-content: space-between;
 padding: 1rem;
}

nav ul li {
 margin-left: 1rem;
 list-style-type: none;
}

/*fim header*/

/*Icones de Contato*/

#WhatsApp { 
position: fixed; bottom: 15px; right: 15px; z-index: 9999;
}

#Instagram {
position: fixed; bottom: 75px; right: 15px; z-index: 9999;
}


/*Fim Icones de Contato*/

/*Galeria Imagens*/

    /* Grade de miniaturas */
    .gallery-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
      padding: 20px;
    }

    .gallery-grid img {
      width: 100%;
      cursor: pointer;
      transition: 0.3s;
    }

    /* O fundo escuro do Modal */
    .modal {
      display: none; /* Escondido por padrão */
      position: fixed;
      z-index: 2000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      justify-content: center;
      align-items: center;
    }

    /* Container da imagem no popup */
    .modal-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 800px;
    }

    .modal-content img {
      max-width: 100%;
      max-height: 80vh; /* Não deixa a imagem ser maior que a tela */
      border: 3px solid white;
    }

    /* Botão Fechar */
    .close {
      position: absolute;
      top: 20px;
      right: 35px;
      color: white;
      font-size: 40px;
      cursor: pointer;
    }

    /* Botões Next/Prev */
    .prev, .next {
      position: absolute;
      background: rgba(255,255,255,0.2);
      color: white;
      border: none;
      padding: 20px;
      cursor: pointer;
      font-size: 24px;
    }
    .prev { left: -50px; }
    .next { right: -50px; }

    /* Ajuste para celular: botões dentro da imagem */
    @media (max-width: 600px) {
      .prev { left: 0; }
      .next { right: 0; }
    }

/*Fim Galeria Imagens*/